

.details{
    flex-grow: 1;

    display:flex;

    flex-flow: nowrap;

    justify-content: center;

    font-family: Arial, Helvetica, sans-serif;
}

.description{
    flex-grow: 1;

    display:flex;
}

.plot{
    flex-grow: 1;
}

